.filter-top {
  padding-top: 24px;
}

.filter-top .filter-top-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-top .filter-top-content .filter-top-sort .filter-select {
  opacity: 0.9;
}

.filter-top .filter-top-content .filter-top-view {
  margin-left: 20px;
}

.filter-top .filter-top-content .filter-top-view p {
  margin-bottom: 3px;
}

.filter-top .filter-top-content .filter-top-view .grid-btn,
.filter-top .filter-top-content .filter-top-view .list-btn {
  margin-left: 8px;
  transition: $transition-default;
}

.filter-top .filter-top-content .filter-top-view .grid-btn:hover,
.filter-top .filter-top-content .filter-top-view .list-btn:hover {
  color: $clr-dark;
}
