@import "../App.css";

.sc-title {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 10px;
}

.sc-title h3 {
  position: relative;
  display: inline-block;
  font-size: 35px;
}

.sc-title h3::after {
  content: "";
  position: absolute;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.sc-title h3::before {
  content: "";
  position: absolute;
  right: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
  .sc-title h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .sc-title h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .sc-title h3 {
    font-size: 16px;
  }
}
