.carousel .carousel-inner .item-1 {
  background-image: url("../../assets/images/banner_1.jpeg");
  background-size: cover;
}

.carousel .carousel-inner .item-2 {
  background-image: url("../../assets/images/banner_2.jpeg");
  background-size: cover;
}

.item {
  height: 410px;
}
