.page-not-found .page-not-found-img {
  width: 120px;
}

.page-not-found .btn-back-to-home {
  display: block;
  background-color: #cf363b;
  color: #fff;
  padding: 7px 15px;
  margin-top: 8px;
  max-width: 190px;
  margin-right: auto;
  margin-left: auto;
  transition: all 300ms ease-in-out;
}

.page-not-found .btn-back-to-home:hover {
  background-color: #000;
}
